window.bar {
    background-color: #1e222a;
    color: #eeeeef;
}

button {
    box-shadow: none;
    color: #eeeeef;
    text-shadow: none;
    border: none;
    background: #303643;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.clock,
.workspaces {
    color: #eeeeef;
    box-shadow: none;
    text-shadow: none;
    border: none;
    padding: 4px 8px;
    background-color: #303643;
    border-radius: 30px;
    margin: 6px 2px;
}

label {
    font-family: "JetBrainsMonoNL NF";
    font-weight: normal;
    font-size: 16px;
}

.workspaces button {
    margin: 0px;
    padding: 0px 10px;
}


.workspaces button.focused {
    color: #fa5aa4;
}

.workspaces button:hover {
    border-bottom: none;
    box-shadow: inset 0 1px #ffffff;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}

.player {
    padding: 10px;
    min-width: 350px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
}

.player .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}

.player scale.position {
    padding: 0;
    margin-bottom: .3em;
}

.player scale.position trough {
    min-height: 8px;
}

.player scale.position highlight {
    background-color: @theme_fg_color;
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}

.player button.play-pause {
    margin: 0 .3em;
}
